@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6 split left">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("ABOUT", "Index", "Home")</li>
                        <li>@Html.ActionLink("SKILLS", "About", "Home")</li>
                        <li>@Html.ActionLink("PORTFOLIO", "Contact", "Home")</li>
                        <li>@Html.ActionLink("JOURNEY", "Contact", "Home")</li>
                        <li>@Html.ActionLink("CONTACT", "Contact", "Home")</li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="centered">
            <img src="~/Content/Img/profile.jpg" alt="Avatar man">
            <h2>Raziyeh Bazargan</h2>
            <h5>
                Full-Stack Web developer
            </h5>
        </div>
    </div>
    <div class="col-md-6 split right">

    </div>
</div>